#imagenlogo {
    width: 100px;
}
header {
    border: black 2px solid;
        border: black 2px solid;
        background: rgb(231, 236, 230);
        header ul {
        display: inline-block;
        list-style: none;
    }
}

main {
    border: blue 2px solid;
    overflow: auto;
    background: rgb(229, 170, 220);
    max-width: 100%;
    max-height: 100%;

}

footer {
    border: rgb(17, 152, 161) 2px solid;
}

.contenidoprincipal {
    border: rgb(20, 113, 156) 2px solid;
    max-width: 100%;
    max-height: 100%;
   
}

.novedades {
        border: rgb(44, 170, 170) 2px solid;
        width: 40%;
        text-align: center;
        font-weight: bold;
        float: left;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


.contenidolateral {
    float: left;
    border: rgb(19, 131, 131) 2px solid;
    width: 40%;

}
main {
    overflow: auto;
    border: rgb(14, 117, 168) 2px solid;
    background: rgb(230, 219, 228);
}


